<command>
  <name>quarantine-file</name>
  <executable>quarantine-file.py</executable>
  <timeout_allowed>no</timeout_allowed>
</command>

<command>
  <name>block-ip</name>
  <executable>block-ip.py</executable>
  <timeout_allowed>no</timeout_allowed>
</command>

<command>
  <name>kill-suspicious-process</name>
  <executable>kill-suspicious-process.py</executable>
  <timeout_allowed>no</timeout_allowed>
</command>

<command>
  <name>alert-slack</name>
  <executable>alert-slack.py</executable>
  <timeout_allowed>yes</timeout_allowed>
</command>
