<syscheck>
  <directories check_all="yes" realtime="yes">{{ paths|join(',') }}</directories>
  <ignore>/home/dev/projects/.git</ignore>
  <ignore>C:\Dev\.git</ignore>
  <ignore>/home/dev/projects/node_modules</ignore>
  <ignore>C:\Dev\node_modules</ignore>
  <ignore>/home/dev/projects/.vscode</ignore>
  <ignore>C:\Dev\.vscode</ignore>
  <ignore>/home/dev/projects/target</ignore>
  <ignore>C:\Dev\target</ignore>
  <ignore>/home/dev/projects/__pycache__</ignore>
  <ignore>C:\Dev\__pycache__</ignore>
</syscheck>
